.activBox {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 2rem;
  margin: auto;
}
/* .activBox:hover{ */
/*   transform: translateY(-1.5rem) scale(1.03); */
/* } */
.activBox img {
  width: 25rem;
  height: 15rem;
  object-fit: cover;
}
.article {
  width: 25rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 5px;
  margin: 1.2rem 0;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.164);
  background-color: rgb(253, 246, 234);
}
.article h3,
p {
  padding: 0.5rem;
  background-color: rgb(253, 246, 234);
}

.para {
  height: 8.9rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.article:hover {
  box-shadow: 0 0 10px gray;
}
.topTitle {
  text-align: center;
  padding-bottom: 3rem;
}
.showBtn {
  margin-top: 1rem;
  margin-left: 45%;
}
