
.offers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.offersHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.offersHeader h2 {
  margin: 2rem;
}

.singleOffer {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.205);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.2);
}

.singleOffer > :first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

.itineraries{
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35rem;
}

.itineraries img {
  width: 5rem;
  height: 2.5rem;
  object-fit: cover;
}

.itineraries > div {
  width: 19%;
  text-align: center;
}

.segments {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hidden {
  display: none
}

.singleSegment {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.2rem;
  padding: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.205);
}

