
.offers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.offersHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.offersHeader h2 {
  margin: 2rem;
}

.singleOffer {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.itineraries{
  padding: 0.5rem;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  width: 25rem;
  border: 1px solid rgba(0, 0, 0, 0.205);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.2);
}

.itineraries img {
  width: 5rem;
  height: 2.5rem;
  object-fit: cover;
}
