@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  vertical-align: center;
  margin: auto;
   width: 100%; 
   background-color: #ece5c77b;
}
.headerText {
 margin-right: 2rem;
  
  
}
.container{
  display: flex;
 
  flex-direction: column;
}

.logo {
  font-weight: bold;
  font-family: 'Courgette', cursive;
  font-size: 1.5rem;
  color: #354259;
}

.logo-img {
  width: 15rem;
  margin-left: 2rem;
}

button {
  cursor: pointer;
  font: inherit;
  border: none;

  background-color: #354259;
  color: white;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  
}

button:hover,
button:active {
    color: #354259;
    background-color:#CDC2AE;
}

.user{
  width: 5vw
}