@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  vertical-align: center;
  margin: auto;
  width: 100%; 
  background-color: transparent;
}
.headerText {
  background-color: transparent;
  margin-right: 1rem;
}
.container{
  display: flex;
  flex-direction: column;
  background-color: transparent;
  z-index: 100;
  width: 100%;
}

.logo {
  font-weight: bold;
  font-family: 'Courgette', cursive;
  font-size: 1.5rem;
  color: #354259;
}

.logo-img {
  width: 15rem;
  margin-left: 1rem;
  color: white;
}

button {
  margin-top: 1rem;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #354259;
  color: white;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  
}

.user{
  width: 5vw
}
