nav {
  display: flex;
  justify-content: left;
  padding-left: 2rem;
  position: fixed;
  top: 27rem;
  width: 100%;
 /*   background-color: #ece5c77b; */ 
}

 /* .nav{
    background-color: #ece5c77b;
}  */

.anchor,
.active {
  box-shadow: 0 0px 3px inset #354259;
  text-decoration: none;
  padding: 0.7rem;
  margin: 0rem 0.2rem;
  background-color: #354259;
  color: white;
  border-radius: 0px 0px 5px 5px;
}

.anchor:hover,
.anchor:active {
   background-color: #ece5c7; 
  color: #354259;
}

.active {
  background-color: #ece5c7;
  color: #354259;
}
