main {
  width: 100%;
  text-align: center;
}

.header-txt {
  position: absolute;
  z-index: 100;
  top: 10rem;
  padding: 1.5rem;

  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-txt h1 {
  margin-left: 8rem;
}

.main-display {
  width: 100%;
  height: 40rem;
  z-index: 0;
  overflow: hidden;
}

.main-display video {
  width: 100%;
  height: 110%;
  object-fit: cover;
  position: relative;
}

.form {
  display: flex;
  z-index: 10;
  position: absolute;
}
